.clear-float{
    clear: both;
}

.sidebar-iconbar {
	text-align: center;
}

.sidebar-icon {
    display: inline-block;
}

.content {
    padding-top: 1rem;
	padding-bottom: 3rem;
}

.social-buttons {
	padding-bottom: 1rem;
}
